@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-bebas : "Bebas Neue";
    --font-zalando:"Zalando Sans";
    --font-michroma:"Michroma";
    --font-orbit:"Orbitron";
    --font-sans:"Open Sans";
}

.oke{
    @apply
    bg-white
    text-black
}
.sponsors{
    @apply ml-25 w-35 h-30 lg:w-50 lg:h-20 lg:mt-9 
}
.input{
    @apply
    rounded-xl border-2 border-zinc-200 px-2 py-1 focus:outline-none focus:ring-0
}



